body {
  transition: all 5s ease;
}
.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
  background-color: grey;
  opacity: 0.75;
  text-align: center;
  padding: 0;
  transition: all 5s ease;
}
.resize nav {
  height: 75px;
  background: black;
  opacity: 1;
  transition: all 0.5s;
}

.top {
  background: url('images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin-top: -25vh;
  height: 100vh;
  transition: all 4s;
}

.top-nav {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding-top: 3vh;
  margin: 0px;
  padding-right: 0px;
  transition: all 2s;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 24px;
  transition: all 1s;
}
.resize .logo {
  font-size: 20px;
  flex-direction: row;
  transition: all 0.5s;
}
.title {
  display: flex;
  align-items: flex-end;
  font-size: 36px;
  transition: all 0.5s;
}
.resize .title {
  font-size: 22px;
  align-items: center;
  text-align: justify;
}
li {
  text-decoration: none;
}
.list {
  align-items: flex-end;
  transition: all 0.5s;
  padding-right: 5px;
  text-decoration: none;
}
.resize .list {
  justify-content: flex-start;
  align-items: flex-start;
}

.hide {
  transition: all 0.1s;
  visibility: collapse;
}
.show {
  transition: all 0.1s;
  background-color: darkslategrey;
}

a {
  font-size: 12px;
}
a:hover {
  color: white;
  font-size: 15px;
}
a:visited {
  color: white;
}
.main {
  text-align: center;
  margin: 75px;
  padding: 75px;
}
footer {
  text-align: center;
  color: white;
  background-color: black;
}
